### 2.1 Types de données PostgreSQL -  Quelques exemples

In [1]:
import psycopg2
import psycopg2.extras

conn = psycopg2.connect(
    host="localhost",
    database="demo",
    user="demo_owner",
    password="OODBMS")

# query result as dict
c = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)

### A - Types de données temporelles

<p style="font-size:120%" id="create_time">
Création d'une table comportant des champs temporels :
</p>

https://www.postgresql.org/docs/current/datatype-datetime.html

In [2]:
c.execute('DROP TABLE IF EXISTS timetest;')

sql = '''CREATE TABLE timetest (
    id SERIAL PRIMARY KEY,
    name VARCHAR(64),
    ts TIMESTAMP(2),
    tsz TIMESTAMP(2) WITH TIME ZONE,
    d DATE,
    t TIME(2),
    tz TIME(2) WITH TIME ZONE,
    i INTERVAL
);'''
c.execute(sql)
conn.commit()

<b>N.B.</b> Le chiffre entre parenthèses pour les types comportant l'heure correspond au nombre de décimales requises pour l'enregistrement des secondes.

<div id="insert_time"></div>

In [3]:
# la valeur 'now' correspond à l'instant présent
args = ['now']*6
sql = "INSERT INTO timetest (name, ts,tsz,d,t,tz) VALUES (%s,%s,%s,%s,%s,%s)"
c.execute(sql,args)
conn.commit()

In [23]:
c.execute('SELECT * FROM timetest')
for d in c.fetchone(): print(d)

1
now
2022-10-11 18:23:31.610000
2022-10-11 18:23:31.610000+02:00
2022-10-11
18:23:31.610000
18:23:31.610000+02:00
None

<p style="font-size:120%" id="use_time">
Usage des champs temporels :
</p>

https://www.postgresql.org/docs/current/functions-datetime.html

In [10]:
# date + n -> ajoute des jours à une date
c.execute("SELECT date '2023-02-28' + 1")
print(c.fetchone()[0])

c.execute("SELECT date '2024-02-28' + 1")
print(c.fetchone()[0])

2023-03-01
2024-02-29

In [24]:
c.execute("DELETE FROM timetest WHERE name='tomorrow'")

# 
sql = '''INSERT INTO timetest (name, ts, tsz, d) VALUES (
    'tomorrow',
    (SELECT ts  FROM timetest WHERE name='now') + interval '1 day',
    (SELECT tsz FROM timetest WHERE name='now') + interval '1 day',
    (SELECT d   FROM timetest WHERE name='now') + 1
);'''
c.execute(sql)
conn.commit()

In [25]:
c.execute("SELECT ts,tsz,d FROM timetest WHERE name='tomorrow'")
for d in c.fetchone(): print(d)

2022-10-12 18:23:31.610000
2022-10-12 18:23:31.610000+02:00
2022-10-12

### B - Autres types

A compléter ...